body {
	background-color: #f7f7f8;
	color: #362F2F;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.text-center {
	text-align: center;
}

.link {
	color: #3467b1;
}

.link {
	color: blue;
}

.container {
	background-color: #fff;
	width: 269px;
	margin: 0 auto;
	padding: 30px;
}

.list-items-v-wrapper {
	list-style-type: none;
	padding: 0;
	text-align: center;
	margin-top: 5px;
}

.list-items-v-item {
	display: inline-block;
}

.self-img-wrapper {
	text-align: center;
}

.self-img {
	width: 100px;
    height: auto;
    border-radius: 30px;
}

.message-wrapper {
	text-align: center;
}

.message-title {
	font-size: 2em;
	margin: 0;
}

.message-headline {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em
}

.skills-container {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(2, 1fr)
}

.skills-logo {
	text-align: center;
}

.skills-logo img {
	width: 100px;
	height: auto;
}

footer {
	text-align: center;
    font-size: .5em;
}

footer .author-link {
	color: #362F2F;
}

.footer-icon {
	width: 20px;
	height: auto;
    padding: 0 3px;
}

@media only screen and (min-width: 375px) {
	footer {
	    font-size: .6em;
	}

	.self-img {
		width: 130px;
	}

	.container {
		width: 300px;
	}
}

@media only screen and (min-width: 376px) {
	.skills-container {
		grid-template-columns: auto auto auto;
	}
}

@media only screen and (min-width: 769px) {
	.skills-container {
		grid-template-columns: repeat(4, 1fr)
	}
}

@media only screen and (min-width: 425px) {
	footer {
	    font-size: .7em;
	}

	.self-img 1{
		width: 140px;
	}

	.container {
		width: 360px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		margin: 50px 0 50px 0;
	}

	footer {
	    font-size: .8em;
	}

	.self-img {
		width: 150px;
	}

	.container {
		width: 700px;
	}
}

@media only screen and (min-width: 1024px) {
	.container {
		width: 960px;
	}
}
